<h1>Create a New Event</h1>

<!-- Render the form partial -->
<%= render 'form', event: @event %>

<!-- Link to go back to the event listing -->
<%= link_to "Back to Events", events_path, class: "btn btn-secondary mt-3" %>

<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div>
      <h2>Oops!</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.datetime_local_field :date %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>